<!doctype html>
<title>HybridPDR</title>
<form method=post>
  <dl>
    <dt>Definition</dt>
    <dd><textarea rows=20 cols=80 name="xml_model">{{ xml_model | e }}</textarea></dd>
    <dt>Tactics</dt>
    <dd><textarea rows=10 cols=80 name="tactics">{{ tactics | e }}</textarea></dd>
    <dt>Initial Condition</dt>
    <dd><input size=80 name="initial" value="{{ initial | e }}"></dd>
    <dt>Safety Condition</dt>
    <dd><input size=80 name="safety" value="{{ safety | e }}"></dd>
    <dt>Result</dt>
    <dd><textarea rows=10 cols=80 name="result" readonly>{{ result | e }}</textarea></dd>
  </dl>
  <p><input type=submit value=submit>
</form>
{% with msgs = get_flashed_messages() %}
  {% if msgs %}
<ul class=flashes>
      {% for msg in msgs %}
  <li>{{ msg }}</li>
      {% endfor %}
</ul>
  {% endif %}
{% endwith %}
