body {
  color: #24292e;
}

header {
  height: 40px;
  border-bottom: 1px;
}

h5 {
  margin-bottom: 0.5rem;
  color: #24292e;
}

dl {
  float: left;
}

dd {
  margin-left: 0;
  margin-bottom: 0;
}

.DefContainer {
  width: 1080px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 15px;
}

.shortEditors {
  margin-left: 50px;
}

.setMarginBtm {
  margin-bottom: 50px;
}

.ResultContainer {
  width: 1080px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 50px;
}

.resultDl {
  margin-left: 50px;
}
